<div style="float: right;" markdown="1">
    <img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png">
</div>

PYTHON
==
<a href="https://colab.research.google.com/github/restrepo/ComputationalMethods/blob/master/material/overview-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is an interpreted programming language oriented to easy-readable coding, unlike compiled languages like C/C++ and Fortran, where the syntax usually does not favor the readability. This feature makes Python very interesting when we want to focus on something different than the program structure itself, e.g. on Computational Methods, thereby allowing to optimize our time, to debug syntax errors easily, etc.


[Official page](https://www.python.org/)

[Wikipedia](http://en.wikipedia.org/wiki/Python)

Python Philosophy
--
1. Beautiful is better than ugly.
2. Explicit is better than implicit.
3. Simple is better than complex.
4. Complex is better than complicated.
5. Flat is better than nested.
6. Sparse is better than dense.
7. Readability counts.
8. Special cases aren't special enough to break the rules. (Although practicality beats purity)
9. Errors should never pass silently. (Unless explicitly silenced)
10. In the face of ambiguity, refuse the temptation to guess.
11. There should be one-- and preferably only one --obvious way to do it. (Although that way may not be obvious at first unless you're Dutch)
12. Now is better than never. (Although never is often better than right now)
13. If the implementation is hard to explain, it's a bad idea.
14. If the implementation is easy to explain, it may be a good idea.
15. NameSpaces are one honking great idea -- let's do more of those!

- - -

- [String, Integer, Float](#String,-Integer,-Float)
- [Functions I](#Functions-I) 
- [Hello World!](#Hello-World!) 
- [Arithmetics](#Arithmetics)
- [Lists, Tuples and Dictionaries](#Lists,-Tuples-and-Dictionaries)
- [Bucles and Conditionals](#Bucles-and-Conditionals)
- [Functions II](#Functions-II)

## Biblography
[1f] Ani Adhikari and John DeNero, [Computational and Inferential Thinking](https://www.inferentialthinking.com/chapters/intro.html)<br/>

- - -

# String, Integer, Float
The basic types of variables in Python are:

`str`:

Illustrated with the `hello world` standard

In [ ]:
#Strings
hello='hola'

`int`

In [ ]:
#Integer
n=3

`float`

In [ ]:
x=3.5

# Functions I
Python includes a battery of predefined functions which takes an input and generates an output. For example, to check the type of variable we can used the
predefined function
## `isinistance`:

In [ ]:
isinstance(hello,str)

True

**Activity**: In the next cell check if `n`  is a `float` type of variable

## `print`

See: https://pyformat.info/

To write the _Hello world_ program in python we must first introduce the concept of function. It is the same in mathematics, were something called function receives a number and return back another number. For example, the function to square a number is
\begin{equation}
f(x)=x^2\,,
\end{equation}
$x$ is called the argument of the function $f$, and the _returned_ value is the evaluation of $f(x)$.

In `Python` there are a lot of such a functions.
In particular there is a function called `print` which takes strings (see below) as input and return the same string as output. In this way, the __hello world__ program in Python is one of the most simple between all the programming languages:

# Hello World!

In [ ]:
print('Hello World!')

Hello World!

And also allows scripting: *(This code should be copied on a file 'hello.py')*

In [ ]:
#! /usr/bin/python

#This is a comment
print('Hello World!')

Hello World!

The recommended way to print a variable in Python is to use the `.format` _method_ of the function `print`:

In [ ]:
hello='Hello'
world='World'
print('{} {}!'.format(hello,world) )

Hello World!

__Activity__: Change the values of the previous string variables to print `Hello World!` in Spanish

In `Python` it is possible also to create new [functions](https://en.wikibooks.org/wiki/Python_Programming/Functions). We illustrate the format to define a function in `Python` with the implementation of the function $f(x)=x^2$, where to write an exponent: ${}^2$, in Python we must use the format: `**2`.

In [ ]:
f=lambda x:x**2

In [ ]:
f(3)

9

The full list of built-in functions is in https://docs.python.org/3/library/functions.html and the specific help for a function, for example `print` can be checked with https://docs.python.org/3/library/functions.html#print

# Arithmetics

## Sum

In [ ]:
5.89+4.89

10.78

**Activity**: Sum strings:
Hint: use `+' '+`

**Activity**: Sumar integers

**Example**

In [ ]:
print(hello+' '+world+'!')

Hello World!

## Multiplication

In [ ]:
120*4.5

540.0

**Example** String multiplied by integer:

In [ ]:
print('='*80)

================================================================================

## **Division**

In [ ]:
#Python 3 does support complete division
100/3

33.333333333333336

In [ ]:
100/3.

33.333333333333336

## **Power**

In [ ]:
2**6

64

## **Module**

In [ ]:
10%2

0

In [ ]:
20%3

2

## **Scientific notation**

In [ ]:
(1.0e24/3. + 2.9e23)/1e-2

6.233333333333333e+25

In [ ]:
sin=0.3

In [ ]:
from math import *

In [ ]:
sin

In [ ]:
import math as m
import cmath as cm
import numpy as np
import scipy as sp
import numpy.lib.scimath as sc

## Complex numbers

In [ ]:
z=2+3.2j

In [ ]:
isinstance(z,complex)

True

which

In [ ]:
z.

In [ ]:
z.real,z.imag,z.conjugate()

(2.0, 3.2, (2-3.2j))

In [ ]:
z+3*z

(8+12.8j)

In [ ]:
z*z

(-6.240000000000002+12.8j)

In [ ]:
z*z.conjugate()

(14.240000000000002+0j)

In [ ]:
m.

In [ ]:
m.asin(2+0j)

TypeError: can't convert complex to float

In [ ]:
cm.asin(2)

(1.5707963267948966+1.3169578969248166j)

In [ ]:
np.arcsin(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in arcsin
  """Entry point for launching an IPython kernel.

nan

In [ ]:
np.arcsin(2+0j)

(1.5707963267948966+1.3169578969248166j)

`numpy.lib.scimath` imported as `sc` here, is from `sc?`:
> Wrapper functions to more user-friendly calling of certain math functions
whose output data-type is different than the input data-type in certain
domains of the input.
Function with some parts of its domain in the complex plane like, `sqrt`, `log`, `log2`, `logn`, `log10`, `power`, `arccos`, `arcsin`, and `arctanh`.

In [ ]:
np.lib.scimath.arcsin(2)

(1.5707963267948966+1.3169578969248166j)

In [ ]:
import ipywidgets as widgets

In [ ]:
@widgets.interact
def f(x=(0,2)):
    print(np.abs(sc.arcsin(x)))

1.5707963267948966

In [ ]:
sc.arcsin([2,3])

array([1.57079633+1.3169579j , 1.57079633+1.76274717j])

# Lists, Tuples and Dictionaries

## Lists

Lists are useful when you want to store and manipulate a set of elements (even of different types).

In [1]:
#A list is declared using [] and may content different type of objects
lista = ["abc", 42, 3.1415]
lista

['abc', 42, 3.1415]

In [2]:
#First element of the list
lista[0]

'abc'

In [3]:
#Last element of the list
lista[-1]

3.1415

Tambien se puede llamar con la posicion real

In [4]:
lista[2]

3.1415

In [6]:
#Adding a new element (boolean element)
lista.append(True)
lista

['abc', 42, 3.1415, True, True]

In [7]:
#Inserting a new second element 
lista.insert(1, "I am second")
lista

['abc', 'I am second', 42, 3.1415, True, True]

Las posiciones en la lista inicia desde cero

In [9]:
#Deleting the third element of the list
del lista[3]
lista

['abc', 'I am second', 42, True]

modifica sobre la ultima forma de la lista no sobre la original

In [10]:
del lista[2]
lista

['abc', 'I am second', True]

In [12]:
#Reassign the first element of the list
lista[0] = "xyz"
lista

['xyz', 'I am second', True]

Se puede modificar punto a punto

In [13]:
lista[0] = 1000
lista

[1000, 'I am second', True]

### Slicing: 
Extract elements from a list, `l` from one given index to another given index. We pass slice instead of index like this: 
```python3
l[start:end]
```
We can also define the step, like this: 
```python3
l[start:end:step]
```
If `start` is not passed it is considered 0. If `end` is not passed it is considered length of array in that dimension. The `end` can given in reverse order by assigning a minus signus to the index. For example `-1` means the last element, whicle `-2` means the penultimate, and so on and so forth.

In [14]:
#Showing the elements from 0 to 2
lista[0:3]

[1000, 'I am second', True]

In [15]:
#Showing the last two elements
lista[-2:]

['I am second', True]

In [16]:
#Showing elements two by two
lista[::2]

[1000, True]

In [ ]:
#Reverse order
lista[::-1]

[True, 42, 'I am second', 'xyz']

In [17]:
#also as
lista.reverse()
lista

[True, 'I am second', 1000]

### Embedded lists

In [21]:
#It is possible to embed a list
embedded_list = [lista, [True, 42]]
embedded_list

[[True, 'I am second', 1000], [True, 42]]

In [22]:
#Second element of the first list
embedded_list[0][1]

'I am second'

In [33]:
#A matrix as a list of embedded lists
A = [ [1,2], [3,4] ]
A

[[1, 2], [3, 4]]

**Activity**: Obtain entry $A_{01}$ of the previous matrix, where
\begin{align}
A=\begin{pmatrix}
A_{00} & A_{01}\\
A_{10} & A_{11}\\
\end{pmatrix}
\end{align}

In [24]:
A[0][1]

2

### Sum of lists

In [26]:
#When two list are added, the result is a new concatenated list
[1,2,"ab",True,[1,2]] + [3.1415,"Pi","circle"]

[1, 2, 'ab', True, [1, 2], 3.1415, 'Pi', 'circle']

**Activity** Add a third row with integer values to the previous $A$ matrix
<!-- Answer: A=A+[[5,6]] -->

In [34]:
A=A+[[15,17]]
A

[[1, 2], [3, 4], [15, 17]]

In [35]:
A = A +[[8,9]]
A

[[1, 2], [3, 4], [15, 17], [8, 9]]

An additional ingredient is the `append` method of a Python list. It update the elements of the list without update explicitly the variable with some equal reasignment.

In [36]:
y=[]
y.append(2)
print('after append 2 to [] : {}'.format(y))
y.append(5)
print('after append 5 to [2]: {}'.format(y))

after append 2 to [] : [2]
after append 5 to [2]: [2, 5]

### List Comprehensions

Taken from [here](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions): List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [37]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [39]:
l=[ ['A','B','C'],['D','E','F'],['G','H','I']  ]

we can extract the list that contains `'H'`

In [40]:
[  [s for s in ll if 'H' in ll ] for ll in l if len( [s for s in ll if 'H' in ll ]) >0]

[['G', 'H', 'I']]

### Reversed comprehension
We can use the method `reversed(...)` to generate an iterator with the revesersed list so that the original list is kept.

In [41]:
print('reversed: {}'.format( list(reversed(lista)) ))
print('original: {}'.format(lista))

reversed: [1000, 'I am second', True]
original: [True, 'I am second', 1000]

## Tuples

A tuple is almost equal to a list, except that once declared its elements, it is not possible to modify them. Therefore, tuples are useful only when you want to store some elements but not modify them.

In [42]:
#A tuple is declared using ()
tupla = ("abc", 42, 3.1415)
tupla

('abc', 42, 3.1415)

Note: single element tuple

In [43]:
t=(2,)

In [44]:
len(t)

1

In [46]:
t[0]

2

The comprenhension tuple also works

In [47]:
tuple( (t for t in tupla)  )

('abc', 42, 3.1415)

`any` can extract a true value from a comprension tuple (see also `all`: https://docs.python.org/3/library/functions.html#all). 
In fact, for the following nested list:

In [48]:
l=[ ['A','B','C'],['D','E','F'],['G','H','I']   ]

we can extract the list that contains `'H'` more easily

In [49]:
[ll for ll in l if any( s=='H' for s in ll  ) ]

[['G', 'H', 'I']]

With the function `zip` we can generate dictionary-like tuple from two lists:

In [50]:
list(zip( ['A','B','C'],[1,2,3]  ))

[('A', 1), ('B', 2), ('C', 3)]

In [51]:
list(zip( ['A','B','C'],[1,2,3]  ))

[('A', 1), ('B', 2), ('C', 3)]

In [52]:
#It is not possible to add more elements
tupla.append("xy")

AttributeError: ignored

In [53]:
#It is not possible to delete an element
del tupla[0]

TypeError: ignored

In [ ]:
#It is not possible to modify an existing element
tupla[0] = "xy"

TypeError: 'tuple' object does not support item assignment

## Dictionaries

Dictionaries are labeled lists: with keys and values. They are extremely useful when manipulating complex data.

In [55]:
#A dictionary is declared using {}, and specifying the name of the component, then the character : followed by the element to store.
dictionary={ 'Alemania'      :'Berlin',
             'Kenia'         :'Nairobi',
             'Noruega'       :'Oslo',
             'Finlandia'     :'Helsinski',
             'Rusia'         :'Mosc',
             'Rio de Janeiro':'Rio',
             'Japn'         :'Tokio o si',
             'Colorado'      :'Denver',
             'Colombia'      :'Bogot'}
print(dictionary)
#Note the order in a dictionary does not matter as one identifies a single element through a string, not a number

{'Alemania': 'Berlin', 'Kenia': 'Nairobi', 'Noruega': 'Oslo', 'Finlandia': 'Helsinski', 'Rusia': 'Mosc', 'Rio de Janeiro': 'Rio', 'Japn': 'Tokio o si', 'Colorado': 'Denver', 'Colombia': 'Bogot'}

Instead of a number, an element of a dictionary is accessed with the key of the component

In [56]:
print('{}  {}'.format( dictionary['Japn'], dictionary['Rio de Janeiro']) )

Tokio o si  Rio

In [57]:
#The elements of the dictionary may be of any type
dictionary2 = { "Enteros":[1,2,3,4,5], 
                "Ciudad" :"Medellin", 
                "Cdula" :1128400433, 
                "Colores":["Amarillo", "Azul", "Rojo"] }
print(dictionary2["Colores"][1])

Azul

In [63]:
print(dictionary2["Enteros"])

[1, 2, 3, 4, 5]

In [58]:
#The elements of the dictionary can be modified only by changing directly such an element
dictionary2["Ciudad"] = "Bogota"
print(dictionary2)

{'Enteros': [1, 2, 3, 4, 5], 'Ciudad': 'Bogota', 'Cdula': 1128400433, 'Colores': ['Amarillo', 'Azul', 'Rojo']}

In [59]:
#Adding a new element is possible by only defining the new component
dictionary2["Pais"] = "Colombia"
dictionary2["Pas"] = "Colombia"
print( dictionary2 )

{'Enteros': [1, 2, 3, 4, 5], 'Ciudad': 'Bogota', 'Cdula': 1128400433, 'Colores': ['Amarillo', 'Azul', 'Rojo'], 'Pais': 'Colombia', 'Pas': 'Colombia'}

In [60]:
#dictionary2.update({'Pais':'Colombia'})

In [61]:
#The command del can be also used for deleting an element, as a list
del dictionary2["Pais"]
print(dictionary2)

{'Enteros': [1, 2, 3, 4, 5], 'Ciudad': 'Bogota', 'Cdula': 1128400433, 'Colores': ['Amarillo', 'Azul', 'Rojo'], 'Pas': 'Colombia'}

With the previous `zip` function to create tuples from lists, we can create a dictionary from the two lists:

In [62]:
dict(zip( ['A','B','C'],[1,2,3]  ))

{'A': 1, 'B': 2, 'C': 3}

**Activity**: Creates a diccionary for the values: `['xyz',3,4.5]` with integer keys starting with zero. In this way, the dictionary could behave as list

In [64]:
d = { "0":"xyz", 
                "1" :"3", 
                "2" :4.5 }
print(d)

{'0': 'xyz', '1': '3', '2': 4.5}

In [65]:
d[3]=5.5
d

{'0': 'xyz', '1': '3', '2': 4.5, 3: 5.5}

In [79]:
list(zip( ['0','1','2'],['xyz',3,4.5]  ))

[('0', 'xyz'), ('1', 3), ('2', 4.5)]

# Bucles and Conditionals

## if

Conditionals are useful when we want to check some condition.
The statements `elif` and `else` can be used when more than one condition need to be used, or when there is something to do when some condition is not fulfilled.

In [80]:
x = 10
y = 2
if x > 5 and y==2:
    print( "True" )

True

In [81]:
x = 4
y = 3
if x>5 or y<2:
    print( "True 1" )
elif x==4:
    print( "True 2" )
else:
    print( "False" )

True 2

## for

`For` cycles are specially useful when we want to sweep a set of elements with a known size.

In [82]:
for i in range(0,5,1):
    print( i, i**2)

0 0
1 1
2 4
3 9
4 16

__Activity__: change print with format

In [92]:
for i in range(0,5,1):
    primero = i
    segundo = i**2
    print(format(primero),format(segundo))

0 0
1 1
2 4
3 9
4 16

In [93]:
suma = 0
for i in range(0,10,1):
    suma += i**2 # suma = suma + i**2
print ( "The result is %d"%(suma) )

The result is 285

In [94]:
for language in ['Python', 'C', 'C++', 'Ruby', 'Java']:
    print ( language )

Python
C
C++
Ruby
Java

As we see before, `for` can be used to build comprenhension lists

In [95]:
serie = [ i**2 for i in range(1,10) ]
print( serie )

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## while

`While` cycles are specially useful when we want to sweep a set of elements with an  unknown size.

In [96]:
#! /usr/bin/python
number = int(input("Write a positive number: "))
while number < 0:
    print("You wrote a negative number. Do it again")
    number = int(input("Write a positive number: "))
print("Thank you!")

Write a positive number: 4
Thank you!

In [97]:
import numpy as np
x = 0
while x<0.9:
    x = np.random.random()
    print( x )
print ("The selected number was", x )

0.5235757756114192
0.7707518407628917
0.5745807838415731
0.9240341555435965
The selected number was 0.9240341555435965

# Functions

## **Explicit functions**

In [98]:
def f(x,y):
    return x*y
f(3,2)

6

In [99]:
#It is possible to assign default arguments
def f(x,y=2):
    return x*y
#When evaluating, we can omit the default argument
f(3)

6

In [100]:
f(2,3)

6

In [101]:
f(2,y=5)

10

In [102]:
#It is possible to specify explicitly the order of the arguments
def f(x,y):
    return x**y
print( 'f(1,2)=',f(1,2) )
print( 'f(2,1)=',f(y=1,x=2) )

f(1,2)= 1
f(2,1)= 2

## Implicit functions

Implicit functions are usdeful when we want to use a function once.

In [103]:
f = lambda x,y: x**y
f(3,2)

9

In [104]:
#It is possible to pass functions as arguments of other function
def f2( f, x ):
    return f(x)**2

#We can define a new function explicitly
def f(x):
    return x+2

print(f(2))
print(f2(f,2))


#Or define the function implicitly
print ("Implicit: f(2)^2 =", f2(lambda x:x+2,2) )

4
16
Implicit: f(2)^2 = 16

# Methods and attributes
All the objects in `Python`, including the function and variable types discussed here, are enhanced with special functions called _methods_, which are implemented after a point of the name of the variable, in the format:
```python
variable.method()
```
Some times, the method can even accept some arguments. 

The objects have also attributes which describe some property of the object. They do not end up with parenthesis:
```python
variable.attribute
```

### Methods
For example. The method `.keys()` of a variable dictionary allows to obtain the list of keys of the dictionary. For example

In [105]:
dictionary.keys()

dict_keys(['Alemania', 'Kenia', 'Noruega', 'Finlandia', 'Rusia', 'Rio de Janeiro', 'Japn', 'Colorado', 'Colombia'])

And the list of values:

In [106]:
dictionary.values()

dict_values(['Berlin', 'Nairobi', 'Oslo', 'Helsinski', 'Mosc', 'Rio', 'Tokio o si', 'Denver', 'Bogot'])

[link text](https://)For strings we have for example the conversion to lower case

In [ ]:
"Juan Valdez".lower()

'juan valdez'

### Attributes

In [114]:
a=1j

In [115]:
a.imag

1.0

In [116]:
z=3+5j

with attributes

In [117]:
z.real

3.0

In [118]:
z.imag

5.0

and the method:

In [119]:
z.conjugate()

(3-5j)

In the notebook, All the methods and attributes of an object can be accessed by using the `<TAB>` key after write down the point:
```python
variable.<TAB>
```

__Activity__: Check the methods and attributes of the dictionary `dictonary`. HINT: Check the help for some of them by using a question mark, "?", at the end:
```
variable.method?
```

## Unicode
Is an standard to encode characters. In Python 3, around  [120.000 characters](https://stackoverflow.com/a/17043983) can be used to define variables. For example, one right to left arabic variable can be defined as

In [ ]:
=2
print('Arabic character values is: {}'.format())

Arabic character values is: 2

Spanish example

In [ ]:
mam='Lola'

In Jupyter lab greek symbols can be accessed by using its LaTeX command follow by the `<TAB>` key. 

`\alpha+<TAB>=0.5` could convert on the fly to

In [121]:
=0.5

In [ ]:
print()

0.5

Alternatively yuo can copy the character from some list of unicode symbols, like [this one](https://en.wikipedia.org/wiki/List_of_Unicode_characters#Greek_and_Coptic).

__Activity__: Define a Greek variable by using a symbol from the previous list

In [129]:
	=0.4
	print ()

0.4

## Final remarks
Make your google Python questions in English and check specially the https://stackoverflow.com/ results.

__Activity__: Make some Python query in Google and paste the example code below

In [132]:
input('What was the Google query that you ask?:\n')

What was the Google query that you ask?:
y

'y'

help format python

Sample code:

In [133]:
# Python3 program to demonstarte 
# the str.format() method 
  
# using format option in a simple string 
print ("{}, A computer science portal for geeks."
                        .format("GeeksforGeeks")) 
  
# using format option for a 
# value stored in a variable 
str = "This article is written in {}"
print (str.format("Python")) 
  
# formatting a string using a numeric constant 
print ("Hello, I am {} years old !".format(18))

GeeksforGeeks, A computer science portal for geeks.
This article is written in Python
Hello, I am 18 years old !